body {
    background-color: rgb(97, 89, 105);
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 39px;
}

h1 {
    background-color: black;
    color: rgb(207, 171, 171);
    text-align: center;
    border-style: outset;
    border-width: 10px;
    border-color: black;
}

h2 {
    width: 22%;
    background-color: rgba(58, 47, 53, 0.918);
    text-align: left;
    color: rgb(240, 234, 234);
    border-style: outset;
    border-width: 10px;
    border-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* alinha verticalmente */
    gap: 100px;
    /* espaço entre imagens */
}

.container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    /* evita deformação */
}

ol {
    background-color: rgb(35, 31, 46);
    color: rgb(255, 254, 252);
}


#img {
    color: rgb(0, 9, 26);
}

.img {
    position: absolute;
    top: 400px;
    left: 450px;
}
.centralizar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-seguir {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 50px;
}
.grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:25px;
    padding:30px;
}

/* card */
.card{
    position:relative;
    overflow:hidden;
    border-radius:12px;
    cursor:pointer;
}

/* imagem maior */
.card img{
    width:100%;
    height:480px; /* aumentei de 300px para 400px */
    object-fit:cover;
    display:block;
    transition:0.4s;
    border-style: outset;
    border-color: rgb(66, 13, 13);
}

/* efeito hover */
.card:hover img{
    transform:scale(1.05);
   
}

/* texto */
.texto{
    position:static;
    background-color: black;
    bottom:20px;
    left:25px;
    color:rgb(230, 236, 235);
    border-style: outset;
    border-color: rgb(66, 13, 13);
    font-size:35px;
    font-weight:bold;
}
